<% @questions.each do |question| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= question.description %></h3>
    </div>
    <div class="panel-body">
      <% question.answers.each do |answer| %>
        <ul>
          <li>
            <%= answer.description %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-center">
    <%= paginate @questions %>
</div>
